@import url('https://fonts.googleapis.com/css?family=Syncopate&display=swap&text=COSMOBASE');

.full {
  width: 100%;
  height: 100%;
}

.white {
  color: white;
}

.header_font {
  font-family: 'Syncopate', cursive;
  font-size:30px !important;
}

.header_font_small {
  font-family: 'Pacifico', cursive;
  font-size:15px !important;
}

.padding_top {
  padding-top:20px;
}

.padding_bottom {
  padding-bottom:20px;
}

.padding_row {
  padding-bottom:20px;
} 

.pointer {
  cursor: pointer;
}

.card_image {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4%;
  width: 170px;
  height:170px;
  background-position: center center;
  background-size: auto 120%;
}

.float_right {
  float:right;
}

.float_left {
  float:left;
}

.greenForm {
        border-color:#80bdff !important;
        outline:0;
        box-shadow:0 0 0 .2rem rgba(0,123,255,.25) !important;
}

.redForm {
  border-color:#f59aa3 !important;
        outline:0;
        box-shadow:0 0 0 .2rem rgba(220, 53, 69,.25) !important;
}

.form-control:focus {
  background-color: white !important;
}

.edit {
  width: 120px;
  height:120px;
}

.opacity_edit {
  opacity:0.5 !important;
  filter: alpha(opacity=50) !important;
}

.opacity_edit_new_img {
  opacity:1;
  filter: alpha(opacity=100);
}

.icons-container {
 width:100px;
 margin:auto;
 position:relative;
 top:-15px;
}

.delete_container {
position: relative;
width:100%;
}

.delete_button {
position: absolute;
bottom: 0px;
left:0px;
right:0px;
white-space:nowrap;
}

.delete_middle {
  width:80%;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:70px !important;
}

.full-row {
  width:100%;

}